@use '@/styles/utils/variables' as v;

.appbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 0;
  min-width: v.$appbar-button-size;
  min-height: v.$appbar-button-size;
  user-select: none;

  &_action {
    &:hover {
      cursor: pointer;
    }
  }

  &_active {
    background-color: var(--opened-section-color);
  }

  &__icon {
    width: 25px;
    height: auto;

    &_rotate {
      &_90deg {
        transform: rotate(90deg);
      }
    }
  }
}
