.Button {
  border: 0;
  border-radius: 5px;
  background-color: var(--button-bgc-main);
  padding: 0.25rem;

  &:hover {
    cursor: pointer;
  }

  &_paddingInline {
    &_none {
      padding-inline: 0;
    }

    &_small {
      padding-inline: 0.35rem;
    }

    &_medium {
      padding-inline: 1rem;
    }

    &_large {
      padding-inline: 2rem;
    }
  }

  &_paddingBlock {
    &_none {
      padding-block: 0;
    }
  }
}
