$translate-x: calc(
  -1 * (2 * var(--inner-padding-inline) + var(--appbar-icon-button-size))
);

.Navbar {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--sidebar-gap));
  align-items: center;
  justify-content: end;
  transform: translateX(0);
  transition:
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  background-color: var(--main-color);
  padding-inline: var(--inner-padding-inline);

  &_hidden {
    transform: translateX($translate-x);
    transition:
      transform 0.2s ease-in,
      opacity 0.2s ease-in,
      visibility 0s linear 0.2s; /* delays hiding until animation finishes */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &-Items,
  &-ControlButtons {
    display: flex;
    flex-direction: column;
    gap: var(--navbar-toolbar-gap);
    align-items: center;
    border-radius: 10px;
    padding: 0;
    list-style-type: none;
  }

  &-DraggableItemsWrapper {
    &_hidden {
      display: none;
    }
  }

  &-DraggableItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
  }

  &-Control {
    &_editing {
      background-color: var(--opened-section-color);
    }
  }
}
