@use '@/styles/utils/variables' as vars;

.AddSections {
  padding: var(--outer-padding-block) var(--inner-padding-inline);

  &-List {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    list-style-type: none;
  }

  &-ListItem {
    // Nothing.
  }

  &-CloseBtn {
    position: absolute;
    top: var(--outer-padding-block);
    right: var(--inner-padding-inline);
    border: 0;
    background: none;
    width: 2rem;
    height: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
