@use '@/styles/utils/variables' as vars;

.AddSections {
  &-List {
    $gap: 1.5rem;
    $padding-inline: 1rem;
    $boundary: 2 * vars.$button-width-main + $gap + 2 * $padding-inline;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $gap;
    align-items: center;
    padding-inline: $padding-inline;
    list-style-type: none;

    @media (min-width: $boundary) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &-ListItem {
    width: vars.$button-width-main;
  }

  &-CloseBtn {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    border: 0;
    background: none;
    width: 2rem;
    height: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
