@use '@/styles/utils/variables' as v;

.AppLayout {
  /**
   * `--title-height` is 2.75rem because the title is 1.75rem, and it seems that
   * 0.5ram block padding is the best choice here, at least to my eye.
   */
  --title-height: 2.75rem;
  --row-gap: 1rem;
  --column-gap: 1rem;
  // TODO: Replace `$appbar-block-size` with this custom property everywhere.
  --appbar-block-size: #{v.$appbar-block-size};
  /**
   * TODO: Pick one (either `--appbar-item-size` or `--appbar-icon-button-size`)
   * and stick with it.
   */
  --appbar-item-size: var(--appbar-icon-button-size);

  display: grid;
  grid-template-areas:
    'main    main'
    'main    main'
    'sidebar sidebar';
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: var(--appbar-item-size) 1fr;
  grid-row-gap: var(--row-gap);
  grid-column-gap: var(--column-gap);
  padding-block: var(--outer-padding-block);
  padding-inline: var(--outer-padding-inline);
  width: 100%;
  height: 100%;

  &-Sidebar {
    grid-area: sidebar;
    place-self: center;
    padding-inline: var(--inner-padding-inline);
  }

  &-Main {
    display: grid;
    grid-template-areas:
      'title   title'
      'content content';
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: main;
    grid-column: main;

    /* &_navbarExpanded { */
    /*   grid-template-areas: */
    /*     'title title' */
    /*     '.     content'; */
    /* } */
  }

  &-Title {
    grid-area: title;
    place-self: center;
    font-size: 1.75rem;
  }

  &-SectionWrapper {
    grid-area: content;
    overflow-y: auto;
  }

  &-NavBtns {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    margin-top: 3rem;
    padding-inline: var(--inner-padding-inline);
  }

  @media screen and (width >= 350px) {
    --outer-padding-inline: 1rem;

    &_navbarExpanded {
      --outer-padding-inline: 0.5rem;
    }
  }
}
