@use '@/styles/utils/variables' as v;

.AppLayout {
  display: grid;
  grid-template:
    auto 1fr calc(v.$appbar-icon-button-size + 2 * 1rem) / calc(
      v.$appbar-icon-button-size + 2 * 1rem
    )
    1fr;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;

  &_navbar {
    &_expanded {
      grid-template-areas:
        'header  header'
        'navbar  main'
        'toolbar toolbar';
    }

    &_hidden {
      grid-template-areas:
        'header  header'
        'main    main'
        'toolbar toolbar';
    }
  }

  &-Navbar {
    grid-area: navbar;
    align-self: end;
    overflow-y: visible;
  }

  &-Toolbar {
    grid-area: toolbar;
    width: 100%;
  }

  &-Title {
    grid-area: header;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
  }

  &-Main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    gap: 3rem;
    margin-top: 1rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &_navbar {
      &_expanded {
        padding-inline: 1rem;
      }
    }
  }

  &-NavBtns {
    display: flex;
    gap: 0.75rem;
    align-self: flex-end;
  }
}
