@use '@/styles/utils/variables' as v;

.AppLayout {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  width: 100%;
  height: 100%;

  &-Navbar {
    position: absolute;
    bottom: calc(v.$appbar-block-size + 1rem);
    left: 0;
    overflow-y: visible;
  }

  &-Toolbar {
    flex: 0 0 v.$appbar-block-size;
    padding-block: 1rem;
  }

  &-Main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &-Title {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
  }

  &-SectionWrapper {
    margin-top: 1rem;
    padding-block: 1rem;
    padding-inline: 3rem;
    max-height: 100%;

    &_navbarExpanded {
      margin-left: auto;
      padding-inline: 1rem;
      width: calc(100% - v.$appbar-block-size);
    }
  }

  &-NavBtns {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    margin-top: 3rem;
  }
}
