@use '@/styles/utils/variables' as vars;

.Preview {
  /* TODO: think of a better number. */
  padding-inline: 2rem;

  &-CloseBtn {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    border: 0;
    background: none;
    width: 2rem;
    height: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &-CanvasContainer {
    aspect-ratio: vars.$a4-aspect-ratio;
  }

  &-ActionBtns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  &-PdfTextAlt {
    color: hsl(0, 0%, 100%);
  }
}
