.Navigation {
  display: flex;
  position: absolute;
  bottom: calc(0.5rem + 50px + 0.5rem);
  left: 1rem;
  flex-direction: column;
  gap: 0.5rem;

  &_hidden {
    display: none;
  }

  &-Items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    list-style-type: none;
  }

  &-DraggableItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    list-style-type: none;
  }

  &-ControlsWrapper {
    position: relative;
    align-self: flex-start;
  }

  &-Control {
    align-self: flex-start;

    &_editing {
      background-color: var(--opened-section-color);
    }
  }
}
