@use 'sass:math';

// Global Sass variables

$button-width-main: 10rem;
$appbar-icon-button-size: 50px;

// It's how the aspect ratio is defined in the `react-pdf` library.
// https://github.com/diegomura/react-pdf/blob/ee5c96b80326ba4441b71be4c7a85ba9f61d4174/packages/layout/src/page/getSize.ts
$a4-aspect-ratio: math.div(595.28, 841.89);
