@use '@/styles/utils/variables' as v;

.AppbarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 0;
  min-width: v.$appbar-button-size;
  min-height: v.$appbar-button-size;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &_active {
    background-color: var(--opened-section-color);
  }

  &-Icon {
    width: 25px;
    height: auto;
  }
}
