@use '@/styles/utils/variables' as v;

.Navbar {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  width: v.$appbar-block-size;

  &_hidden {
    display: none;
  }

  &-Items {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    list-style-type: none;
  }

  &-DraggableItemsWrapper {
    &_hidden {
      display: none;
    }
  }

  &-DraggableItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
  }

  &-Control {
    &_editing {
      background-color: var(--opened-section-color);
    }

    &_onTop {
      margin-top: 1rem;
    }
  }
}
