@use '@/styles/utils/functions' as fn;

.SectionItemHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: var(--inner-padding-inline);
  place-items: center start;
  width: 100%;

  &_oneButton {
    grid-template-areas: 'title buttons';
    grid-template-columns: max-content auto;
  }

  &_threeButtons {
    grid-template-areas: 'title buttons buttons buttons';
    grid-template-columns: max-content repeat(3, auto);
  }

  &_fourButtons {
    grid-template-areas: 'title buttons buttons buttons buttons';
    grid-template-columns: max-content repeat(4, auto);
  }

  &-Title {
    grid-area: title;
    justify-self: start;
    padding-inline-start: var(--inner-padding-inline);
  }

  &-BtnsWrapper {
    display: flex;
    grid-area: buttons;
    align-items: center;
    width: 100%;
  }

  &-Button {
    &_pushToEnd {
      margin-left: auto;
    }
  }
}
