/*------------------------------------*\
  #BASE
\*------------------------------------*/

/* This file contains all application-wide styles. */

body {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--text-color);
}
