/*------------------------------------*\
  #CUSTOM-PROPERTIES
\*------------------------------------*/

/* All global CSS custom properties. */

:root {
  --main-color: hsl(0, 0%, 12%);
  --secondary-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 100%);
  --placeholder-color: hsl(0, 0%, 52%);
  --opened-section-color: hsl(0, 0%, 25%);
  --button-bgc-main: hsl(0, 0%, 100%);
}
